# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Databases
*.sqlite3
*.db
data/*.db
data/*.sqlite3

# Scratch / Temp files
scratch/
.pytest_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
